.wrapper {
  display: flex;
  gap: 10px;
  padding: 5px 0 5px 42px;
  background-color: inherit;
  cursor: pointer;
}
.img {
  display: block;
  width: 16px;
  height: 15px;
}
.active {
  color: aliceblue;
}

.inactive {
  color: grey;
}
