.wrapper {
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #607b96;
  border-bottom: 1px solid #1e2d3d;
  border-radius: 8px 8px 0 0;
}

.name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 311px;
  height: 100%;
  padding-left: 22px;
  padding-right: auto;
  border-right: 1px solid #1e2d3d;
  transition: filter 1s;
}
.span {
  display: block;
  min-width: 100px;
}
/* Сжимаемый контейнер*/
.flex_shrink {
  width: 211px;
  flex-shrink: 1;
}

.contact {
  margin-left: auto;
  border-left: 1px solid #1e2d3d;
}
